{
    "AWSTemplateFormatVersion": "2010-09-09",
    "Description": "AWS RDS MySQL Template",
    "Parameters": {
        "VPC": {
            "Type": "AWS::EC2::VPC::Id",
            "Description": "VPC-ID of your existing Virtual Private Cloud (VPC) where you want to depoy RDS.",
            "Default": "vpc-xxxxxxxx",
            "AllowedPattern": "vpc-[0-9a-z]{8}"
        },
        "AutoScaledInstanceSecurityGroup": {
            "Description": "For DBVPCSecurityGroups, enter existing security group to associate with DB ",
            "Type": "String"
        },
        "Subnets": {
            "Type": "List<AWS::EC2::Subnet::Id>",
            "Description": "Atleast two existing Subnets in separate Availability Zones your Virtual Private Cloud (VPC)",
            "ConstraintDescription": "must be list of existing subnet Ids"
        },
        "DBAllocatedStorage": {
            "Default": "5",
            "Description": "The size of the database in gigabytes (GB)",
            "Type": "Number",
            "MinValue": "5",
            "MaxValue": "4096",
            "ConstraintDescription": "must be between 5 and 4096 GB. If Iops specified, AllocatedStorage must be at least 100 GB and with minimum Iops value of 1000"
        },
        "DBAutoMinorVersionUpgrade": {
            "Default": "true",
            "Description": "Select true/false to setup Auto Minor Version upgrade",
            "Type": "String",
            "AllowedValues": [
                "true",
                "false"
            ]
        },
        "DBBackupRetentionPeriod": {
            "Type": "String",
            "Default": "7",
            "Description": "The number of days for which automatic DB snapshots are retained."
        },
        "DBInstanceClass": {
            "Default": "db.m1.small",
            "Description": "The name of the compute and memory capacity class of the DB instance.",
            "Type": "String",
            "AllowedValues": [
                "db.t1.micro",
                "db.m1.small",
                "db.m3.medium",
                "db.m3.large",
                "db.m3.xlarge",
                "db.m3.2xlarge",
                "db.r3.large",
                "db.r3.xlarge",
                "db.r3.2xlarge",
                "db.r3.4xlarge",
                "db.r3.8xlarge",
                "db.t2.micro",
                "db.t2.small",
                "db.t2.medium",
                "db.m2.xlarge",
                "db.m2.2xlarge",
                "db.m2.4xlarge",
                "db.cr1.8xlarge",
                "db.m1.medium",
                "db.m1.large",
                "db.m1.xlarge"
            ],
            "ConstraintDescription": "Must select a valid database instance type."
        },
        "DBName": {
            "Default": "QuickstartMySQLDB",
            "Description": "Name of MySQL DB for Magento Stack",
            "Type": "String",
            "MinLength": "5",
            "MaxLength": "64",
            "AllowedPattern": "[a-zA-Z][a-zA-Z0-9]*"
        },
        "DBIops": {
            "Default": "1000",
            "Description": "DB Iops. Used only when io1 specified for the StorageType property",
            "Type": "Number",
            "AllowedValues": [
                "1000",
                "2000",
                "3000",
                "4000",
                "5000",
                "6000",
                "7000",
                "8000",
                "9000",
                "10000"
            ],
            "ConstraintDescription": "1000 Iops min and increased in 1K increments. "
        },
        "DBMasterUsername": {
            "Default": "admin",
            "NoEcho": "true",
            "Description": "The database admin account username",
            "Type": "String",
            "MinLength": "1",
            "MaxLength": "16",
            "AllowedPattern": "[a-zA-Z][a-zA-Z0-9]*",
            "ConstraintDescription": "must begin with a letter and contain only alphanumeric characters."
        },
        "DBMasterUserPassword": {
            "Description": "The database admin account password",
            "Type": "String",
            "MinLength": "8",
            "MaxLength": "64",
            "AllowedPattern": "(?=^.{6,255}$)((?=.*\\d)(?=.*[A-Z])(?=.*[a-z])|(?=.*\\d)(?=.*[^A-Za-z0-9])(?=.*[a-z])|(?=.*[^A-Za-z0-9])(?=.*[A-Z])(?=.*[a-z])|(?=.*\\d)(?=.*[A-Z])(?=.*[^A-Za-z0-9]))^.*",
            "NoEcho": "True",
            "Default": "Admin-123456",
            "ConstraintDescription": "Min 8 chars."
        },
        "DBMultiAZ": {
            "Default": "true",
            "Description": "Specifies if the database instance is a multiple Availability Zone deployment.",
            "Type": "String",
            "AllowedValues": [
                "true",
                "false"
            ]
        },
        "DBPubliclyAccessible": {
            "Default": "false",
            "Description": "Indicates whether the database instance is an Internet-facing instance.",
            "Type": "String",
            "AllowedValues": [
                "true",
                "false"
            ]
        },
        "DBStorageType": {
            "Default": "standard",
            "Description": "The storage type associated with this database instance",
            "Type": "String",
            "AllowedValues": [
                "standard",
                "gp2",
                "io1"
            ]
        }
    },
    "Resources": {
        "MySQLDBSubnetGroup": {
            "Type": "AWS::RDS::DBSubnetGroup",
            "Properties": {
                "DBSubnetGroupDescription": "Subnets available for the RDS MySQL DB Instance",
                "SubnetIds": {
                    "Ref": "Subnets"
                }
            }
        },
        "MySQLDB": {
            "Type": "AWS::RDS::DBInstance",
            "Properties": {
                "DBName": {
                    "Ref": "DBName"
                },
                "AllocatedStorage": {
                    "Ref": "DBAllocatedStorage"
                },
                "DBInstanceClass": {
                    "Ref": "DBInstanceClass"
                },
                "Engine": "MySQL",
                "EngineVersion": "5.6",
                "MasterUsername": {
                    "Ref": "DBMasterUsername"
                },
                "MasterUserPassword": {
                    "Ref": "DBMasterUserPassword"
                },
                "DBSubnetGroupName": {
                    "Ref": "MySQLDBSubnetGroup"
                },
                "VPCSecurityGroups": [
                    {
                        "Ref": "AutoScaledInstanceSecurityGroup"
                    }
                ],
                "MultiAZ": {
                    "Ref": "DBMultiAZ"
                },
                "Tags": [
                    {
                        "Key": "Name",
                        "Value": "MySQLDB-YOUR-STACK-REPLACEME"
                    }
                ]
            }
        }
    },
    "Outputs": {
        "MySQLEndPoints": {
            "Description": "MySQL Endpoint to connect",
            "Value": {
                "Fn::Join": [
                    "",
                    [
                        {
                            "Fn::GetAtt": [
                                "MySQLDB",
                                "Endpoint.Address"
                            ]
                        },
                        ":",
                        {
                            "Fn::GetAtt": [
                                "MySQLDB",
                                "Endpoint.Port"
                            ]
                        },
                        "/",
                        {
                            "Ref": "DBName"
                        }
                    ]
                ]
            }
        },
        "DBName": {
            "Description": "MySQL DBName",
            "Value": {
                "Ref": "DBName"
            }
        },
        "MySQLEndPointAddress": {
            "Description": "MySQL Endpoint to connect",
            "Value": {
                "Fn::Join": [
                    "",
                    [
                        {
                            "Fn::GetAtt": [
                                "MySQLDB",
                                "Endpoint.Address"
                            ]
                        }
                    ]
                ]
            }
        },
        "MySQLEndPointPort": {
            "Description": "MySQL Endpoint to connect",
            "Value": {
                "Fn::Join": [
                    "",
                    [
                        {
                            "Fn::GetAtt": [
                                "MySQLDB",
                                "Endpoint.Port"
                            ]
                        }
                    ]
                ]
            }
        }
    }
}