{
    "AWSTemplateFormatVersion": "2010-09-09",
    "Description": "(0013) Deploy Magento on AWS (New VPC)",
    "Parameters": {
        "DBMasterUserPassword": {
            "Description": "The database admin account password. Must be at least 8 characters containing letters, numbers and symbols",
            "Type": "String",
            "MinLength": "8",
            "MaxLength": "32",
            "AllowedPattern": "(?=^.{6,255}$)((?=.*\\d)(?=.*[A-Z])(?=.*[a-z])|(?=.*\\d)(?=.*[^A-Za-z0-9])(?=.*[a-z])|(?=.*[^A-Za-z0-9])(?=.*[A-Z])(?=.*[a-z])|(?=.*\\d)(?=.*[A-Z])(?=.*[^A-Za-z0-9]))^.*",
            "NoEcho": "True",
            "Default": "Admin-123456"
        }
    },
    "Resources": {
        "NATInstance1EIP": {
            "Type": "AWS::EC2::EIP",
            "Properties": {
                "Domain": "vpc"
            }
        }
    },
    "Outputs": {
        "DBMasterUserPassword": {
            "Description": "DBMasterUserPassword",
            "Value": {
                "Ref": "DBMasterUserPassword"
            }
        }
    }
}
