{
    "AWSTemplateFormatVersion": "2010-09-09",
    "Description": "AWS Elasticache Template",
    "Parameters": {
        "VPC": {
            "Type": "AWS::EC2::VPC::Id",
            "Description": "VPC-ID of your existing Virtual Private Cloud (VPC) where you want to depoy RDS.",
            "Default": "vpc-xxxxxxxx",
            "AllowedPattern": "vpc-[0-9a-z]{8}"
        },
        "Subnets": {
            "Type": "List<AWS::EC2::Subnet::Id>",
            "Description": "Atleast two existing Subnets in separate Availability Zones your Virtual Private Cloud (VPC)",
            "ConstraintDescription": "must be list of existing subnet Ids"
        },
        "ElastiCacheSecurityGroup": {
            "Type": "AWS::EC2::SecurityGroup::Id",
            "Description": "ElastiCache Security Group"
        },
        "ElastiCacheNodes": {
            "Default": "2",
            "Description": "Number of nodes in the ElastiCache cluster",
            "Type": "Number",
            "MinValue": "2",
            "MaxValue": "5",
            "ConstraintDescription": "must be between 2 and 5"
        },
        "ElastiCacheAutomaticFailover": {
            "Default": "true",
            "Description": "Select true/false to setup Automatic Failover",
            "Type": "String",
            "AllowedValues": [
                "true",
                "false"
            ]
        },
        "ElastiCacheNodeType": {
            "Default": "cache.m4.large",
            "Description": "The name of the compute and memory capacity class of the ElastiCache instance.",
            "Type": "String",
            "AllowedValues": [
                "cache.t2.micro",
                "cache.t2.small",
                "cache.t2.medium",
                "cache.m3.medium",
                "cache.m3.large",
                "cache.m3.xlarge",
                "cache.m3.2xlarge",
                "cache.m4.large",
                "cache.m4.xlarge",
                "cache.m4.2xlarge",
                "cache.m4.4xlarge",
                "cache.m4.10xlarge",
                "cache.c1.xlarge",
                "cache.r3.large",
                "cache.r3.xlarge",
                "cache.r3.2xlarge",
                "cache.r3.4xlarge",
                "cache.r3.8xlarge"
            ],
            "ConstraintDescription": "Must select a valid cache instance type."
        }
    },
    "Resources": {
        "ElastiCacheSubnetGroup": {
            "Type": "AWS::ElastiCache::SubnetGroup",
            "Properties": {
                "Description" : "Subnets available for the Redis Cache Instance (QuickStart)",
                "SubnetIds": {
                    "Ref": "Subnets"
                }
            }
        },
        "ElastiCacheCluster" : {
            "Type" : "AWS::ElastiCache::ReplicationGroup",
            "Properties" : {
                "ReplicationGroupDescription": "ElastiCache Cluster (QuickStart)",
                "AutomaticFailoverEnabled": { "Ref": "ElastiCacheAutomaticFailover" },
                "CacheNodeType": { "Ref": "ElastiCacheNodeType" },
                "CacheSubnetGroupName": { "Ref": "ElastiCacheSubnetGroup"},
                "Engine": "redis",
                "NumCacheClusters": { "Ref": "ElastiCacheNodes" },
                "SecurityGroupIds": [ { "Ref": "ElastiCacheSecurityGroup" }]
            }
        }
    },
    "Outputs": {
        "ElastiCacheEndpoint": {
            "Description": "ElastiCache address",
            "Value": {
                "Fn::GetAtt": ["ElastiCacheCluster", "PrimaryEndPoint.Address"]
            }
        }
    }
}
